In [5]:
import boto3
import os
import pandas as pd
import yfinance as yf
from dotenv import load_dotenv
from botocore.exceptions import NoCredentialsError

Configurations

In [ ]:
load_dotenv("src/enviroment/.env")

aws_access_key = os.getenv("AWS_ACCESS_KEY_ID")
aws_secret_key = os.getenv("AWS_SECRET_ACCESS_KEY")
aws_region = os.getenv("AWS_REGION")

bucket_name = "silver-finance-data"

In [3]:
session = boto3.Session(
    aws_access_key_id = os.environ["AWS_ACCESS_KEY_ID"],
    aws_secret_access_key = os.environ["AWS_SECRET_ACCESS_KEY"],
    region_name = "us-east-1"
)
s3 = session.resource("s3")

Functions

In [9]:
def dump_json_yfinance(ticker, start_date, end_date):
    data = yf.download(ticker, start=start_date, end=end_date)
    return data

In [14]:
ticker = '^BVSP'
start_date = '1900-01-01'
end_date = '2024-09-01'
data = dump_json_yfinance(ticker, start_date, end_date)
data

[*********************100%***********************]  1 of 1 completed

Price,Close,High,Low,Open,Volume
Ticker,^BVSP,^BVSP,^BVSP,^BVSP,^BVSP
Date,,,,,
1993-04-27,24.500000,25.400000,24.500000,24.799999,0
1993-04-28,24.299999,24.600000,23.700001,24.500000,0
1993-04-29,23.700001,24.799999,23.700001,24.299999,0
1993-04-30,24.100000,24.200001,23.700001,23.700001,0
1993-05-03,24.100000,24.400000,23.799999,24.100000,0
...,...,...,...,...,...
2024-08-26,136889.000000,137013.000000,135596.000000,135608.000000,7560000
2024-08-27,136776.000000,137213.000000,136664.000000,136888.000000,6745900
2024-08-28,137344.000000,137469.000000,135746.000000,136776.000000,7457100
2024-08-29,136041.000000,137370.000000,135858.000000,137349.000000,8385100
2024-08-30,136004.000000,136139.000000,134910.000000,136041.000000,18397900